@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/* Default styles */

* {
    font-family: "Roboto Flex", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;

}

/* Form styles */

.form {
    --clr-bg: #fff;
    --clr-text: #222;
    --clr-border: #cacaca;
    --border-radius: 2rem;
    --input-padding: 0.75rem;
    --shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-shrink: 0;
    flex-basis: 90%;

    padding: 1rem;

    background-color: var(--clr-bg);
    color: var(--clr-text);

    @media screen and (min-width: 720px) {
        flex-basis: fit-content;

        border: 1px solid var(--clr-border);
        border-radius: calc(var(--border-radius) / 2);
        padding: 2rem;
        box-shadow: var(--shadow);
    }
}

.form__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 1rem;
}

/* Input fields */

.form__input-field {
    --font-size: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form__input-field.checkbox {
    --font-size: 1rem;

    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.form__input-field label {
    font-size: var(--font-size);
    font-weight: 400;
    color: inherit;
}

.form__input-field input[type=text], .form__input-field input[type=password] {
    font-size: var(--font-size);
    font-weight: 400;
    color: inherit;

    @media screen and (min-width: 720px) {
        width: 30ch;
        min-width: 15ch;
        max-width: 30ch;
    }

    border: 1px solid var(--clr-border);
    border-radius: var(--border-radius);
    padding: var(--input-padding);

    transition: all ease-in-out 150ms;
}

.form__input-field input[type=text]::placeholder,
.form__input-field input[type=password]::placeholder {
    font-style: italic;
}

.form__input-field input[type=text]:focus, .form__input-field input[type=password]:focus {
    outline: transparent;
    border-color: var(--clr-text);
}

/* Form buttons */

.form__buttons {
    --clr-btn-text: #fff;
    --clr-btn: #6f6f6f;


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.form__buttons > .btn {
    flex-grow: 1;
    cursor: pointer;

    font-size: var(--font-size);
    font-weight: 500;

    background-color: var(--clr-btn);
    color: var(--clr-btn-text);
    padding: var(--input-padding) calc(var(--input-padding) * 2);
    border-radius: var(--border-radius);
    border: 1px solid var(--clr-btn);

    transition: all ease-in-out 150ms;
}

.form__buttons > .btn.submit {
    --clr-btn: #3f3f3f;
}

.form__buttons > .btn.submit:hover {
    --clr-btn: #5f5f5f;
}

/* Forgot password link */

.form__other-text {
    color: inherit;
}

.form__other-text > a {
    color: inherit;
}